.repo-container {
  width: 90vw;
  background-color: #f5f8fc;
  margin: 20px;
  padding: 10px;
  display: flex;
  border-radius: 10px;
}
.profile-pic {
  width: 200px;
}
.details-card {
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.stars-para {
  padding: 5px 20px 5px 20px;
  border: 2px solid #a6a6a6;
  font-weight: 500;
  color: black;
  border-radius: 5px;
}
.stars-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-shrink: 1;
}
